<div class="text-fade">
  <h4>My Practice</h4>
  <p>Having traveled abroad numerous times, I believe that America has the best Healthcare system in the world for treating trauma and emergencies. However, when it comes to treating chronic degenerative diseases, such as arthritis, diabetes, and disorders associated with the aging process, we seem to have little to offer other than pain killers, prescriptions, and joint replacement.</p>
  <p>Wouldn't it be nice to have alternatives to those healthcare problems instead of waiting until the surgeon is the final result? What if your day involved making health choices designed to be helpful to the healing process and not just a narrow window of pain relief? The future can look pretty grim with a never ending cycle of days that gradually limit our activities and the advice such as, "after all you’re not a spring chicken anymore."</p>
  <p>Why do people accept this as the status quo? It may be as simple as "that is all we know." We are educated by TV, slick advertising, and the promise of health in a bottle. Medicine may keep you alive, but it won’t make you healthy.</p>
  <p>What's a person to do? Chiropractic is an approach that is proven to work. When you can properly assess a person's condition and provide safe effective treatment, you are more likely to allow that person to live to their fullest potential.</p>
  <p>The following pages describe the many methodologies that we use to accomplish that task. Our goal is to return you to your family, job, and lifestyle functioning at your fullest potential. One of the most common comments that I hear is, "I wish I hadn't waited so long." You don't have to. We offer consultations to see if we can resolve your healthcare issue.</p>
  <p>We also offer a white paper that discusses five natural things you can do daily to maintain your joints and health. All of these things are easily purchased at the supermarket, and we will gladly mail it to you, or you can pick it up with no further commitment. As ever, we are here to help you attain your health goals.</p>
  <hr>
  <h4>My Background</h4>
  <p>I have been in practice since I graduated from Palmer College of Chiropractic in 1979. The road to chiropractic came through an intense desire to help people who were falling through the cracks in the medical system. After attaining a diplomate in internal disorder in 1993 through the American Board of Chiropractic Internists, our goal remains to offer the best service and products we can provide.</p>
  <p>My wife, Melanie, and I reside in the Mansfield area and are the proud parents of a son, Jim, and his wife Laura, and a daughter, Kristine, and her husband Andrew. We are also the proud grandparents of four adorable grandchildren.</p>
  <p style="height: 100px"></p>
</div>
