<div class="ng-cloak">
  <h1 ng-show="view === 'home'" class="{{headerClass}}">Dr. Robert J Gilbert D.C., DABCI</h1>
  <h1 ng-show="view === 'info'" class="{{headerClass}}">Info</h1>
  <h1 ng-show="view === 'about'" class="{{headerClass}}">About Me</h1>
  <h1 ng-show="view === 'products'" class="{{headerClass}}">Products & Services</h1>
</div>
