<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 bg-brand-primary">
      <img class="circular mam pull-left" src="/assets/img/sign.jpg" style="width: 65px; display: inline; vertical-align: middle">
      <div class="mrm" style="display: inline; vertical-align: middle">
        <h1 class="h4">Dr. Robert J Gilbert D.C., DABCI</h1>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <div style="overflow-y: scroll; max-height: 80%">
            {{> toggle }}
          </div>
        </div>
      </div>
      <div class="row" style="height: auto">
        <div class="col-xs-12 pls" style="position: relative">
          <div class="bg-white" style="bottom: 0; width: 98%; height: 70px; position: fixed">
            <div class="text-center mtm" style="width: 100%">
              {{> jump-nav }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
