<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 bg-brand-primary pln">
      <img itemprop="logo" class="circular mam pull-left" src="/assets/img/sign.jpg" style="width: 65px; display: inline; vertical-align: middle">
      <div class="mrm" ng-style="view === 'home' ? {} : { display: 'inline', 'vertical-align': 'middle' }">
        {{> headers mobile=1 }}
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row" style="padding-bottom: 79px">
        <div class="col-xs-12">
          {{> toggle mobile=1 }}
        </div>
      </div>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <div class="bg-white">
            <div class="text-center" style="width: 100%">
              {{> jump-nav mobile=1 }}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
