<div class="container-fluid">
  <div class="row full">
    <div class="col-md-3 full bg-brand-primary" style="position: fixed; top: 0; left: 0">
      <img itemprop="logo" class="circular" src="/assets/img/sign.jpg" style="position: absolute; top: 100px; right: -150px; width: 300px;">
    </div>
    <div class="col-xs-12 col-md-9 full" style="position: absolute; top: 0; right: 0">
      <div class="row">
        <div class="col-xs-12 full">
          <div class="text-center">
            {{> headers mobile=0 }}
          </div>
          <div style="margin-left: 165px; padding-bottom: 79px">
            {{> toggle mobile=0 }}
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default navbar-fixed-bottom" style="width: 75%; left: 25%">
        <div class="container">
          <div class="bg-white">
            <div class="text-center" style="width: 100%">
              {{> jump-nav mobile=0 }}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
