<div class="mbl">
  <div>
    <div class="pull-left mrx">
      <span class="fa fa-clock-o text-muted icon-header"></span>
    </div>
    <div class="h3">
      {{> open-status }}
    </div>
    <div class="mtl">
      We are opened <span itemprop="openingHours" content="Mo,We,Fr 09:00-12:00,14:30-17:30">Monday, Wednesday, and Friday from 9am to noon and from 2:30pm to 5:30pm</span>. Please stop in during office hours or call for an appointment.
    </div>
  </div>
  <div class="mtj">
    <div class="pull-left mrx">
      <span class="fa fa-phone text-muted icon-header"></span>
    </div>
    <div class="h3">Contact Us</div>
    <div class="mtl">
      <div class="h4 hidden-xs hidden-sm" style="font-weight: normal">Call <span itemprop="telephone">(419) 589-6470</span></div>
      <div class="hidden-md hidden-lg mbm">
        <a href="tel:+14195896479" event-label="Click-to-call" class="btn btn-primary">Call <span itemprop="telephone">(419) 589-6470</span></a>
      </div>
      <p>No automated phone scripts at this practice! Our chiropractic assistants, <a href="" scroll-to="#sallie">Sallie</a> & <a href="" scroll-to="#april">April</a>, will be happy to take your call during office hours. Or leave us a message at any time, and we will return your call as soon as we can.</p>
    </div>
  </div>
  <div class="mtj">
    <div class="pull-left mrx">
      <span class="glyphicon glyphicon-map-marker text-muted icon-header"></span>
    </div>
    <div class="h3">Directions</div>
    <div class="mtl">
      <p>
        <link itemprop="hasMap" href="https://goo.gl/maps/jb5RoMNp9Yv">
        <a href="https://goo.gl/maps/jb5RoMNp9Yv" target="_blank" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">953 Park Ave East</span><br>
          <span itemprop="addressLocality">Mansfield</span>, <span itemprop="addressRegion">Ohio</span> <span itemprop="postalCode">44905</span>
        </a>
        <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
          <meta itemprop="latitude" content="40.758951">
          <meta itemprop="longitude" content="-82.480885">
        </span>
      </p>
      <p>Two miles east on Park Avenue East from downtown Mansfield, between Illinois Avenue and Stewart Road.</p>
      <div class="google-map" style="height: {{#if mobile}}300px{{else}}400px{{/if}}; width: 100%"></div>
    </div>
  </div>
  <div class="mtj">
    <div class="pull-left mrx">
      <span class="fa fa-female text-muted icon-header"></span>
    </div>
    <div class="h3">Staff</div>
    <div class="mtl">
      <div class="row">
        <div id="sallie" class="col-xs-12 col-sm-5" itemprop="employee" itsemscope itemtype="http://schema.org/Person">
          <h4 itemprop="name">Sallie</h4>
          <meta itemprop="jobTitle" content="Receptionist">
          <img itemprop="photo" alt="Sallie" src="/assets/img/sallie.jpg" height="300">
        </div>
        <div id="april" class="col-xs-12 col-sm-5" itemprop="employee" itsemscope itemtype="http://schema.org/Person">
          <h4 itemprop="name">April</h4>
          <meta itemprop="jobTitle" content="Receptionist">
          <img itemprop="photo" alt="April" src="/assets/img/april.jpg" height="300">
        </div>
      </div>
    </div>
  </div>
</div>
