<div>
  <div>
    <div class="pull-left mrx">
      <span class="fa fa-clock-o text-muted" style="font-size: 32px"></span>
    </div>
    <div class="h3">
      {{> open-status }}
    </div>
    <div class="mtl">
      We are opened Monday, Wednesday, and Friday from 9am to noon and 2:30pm to 5:30pm. Please stop in during office hours or call for an appointment.
    </div>
  </div>
  <div class="mtj">
    <div class="pull-left mrx">
      <span class="fa fa-phone text-muted" style="font-size: 32px"></span>
    </div>
    <div class="h3">Contact Us</div>
    <div class="mtl">
      <div class="h4 hidden-xs hidden-sm" style="font-weight: normal">Call (419) 589-6470</div>
      <div class="hidden-md hidden-lg mbm">
        <a href="tel:4195896479" class="btn btn-primary">Call (419) 589-6470</a>
      </div>
      <p>
        No automated phone scripts at this practice! Our chiropractic assistants, Sallie & April, will be happy to take your call during office hours. Or leave us a message at any time, and we will return your call as soon as we can.
      </p>
    </div>
  </div>
  <div class="mtj">
    <div class="pull-left mrx">
      <span class="glyphicon glyphicon-map-marker text-muted" style="font-size: 32px"></span>
    </div>
    <div class="h3">Directions</div>
    <div class="mtl">
      <p>
        <a href="http://maps.google.com?q=953%20Park%20Ave%20East%20Mansfield%2C%20Ohio%2044905">
          953 Park Ave East<br>
          Mansfield, Ohio 44905
        </a>
      </p>
      <p>Two miles east on Park Avenue East from downtown Mansfield, between Illinois Avenue and Stewart Road.</p>
      <div class="google-map" style="height: {{#if mobile}}300px{{else}}400px{{/if}}; width: 100%"></div>
    </div>
  </div>
</div>
