<ul class="nav nav-bubbles" style="display: inline-block">
  <li>
    <a href="" hover="Home" class="hover-up" ng-click="setView('home')"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a href="" hover="Info" class="hover-up" ng-click="checkIsOpen(); initMap(); setView('info')"><span class="glyphicon glyphicon-info-sign"></span></a>
  </li>
  <li>
    <a href="" hover="About Me" class="hover-up" ng-click="setView('about')"><span class="fa fa-user-md"></span></a>
  </li>
  <li>
    <a href="" hover="Products & Services" class="hover-up" ng-click="setView('products')"><span class="glyphicon glyphicon-barcode"></span></a>
  </li>
</ul>
