<ul class="nav nav-bubbles" style="display: inline-block">
  <li>
    <a href="" hover="Home" class="hover-up" ng-click="view = 'home'"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a href="" hover="Directions" class="hover-up" ng-click="view = 'directions'"><span class="glyphicon glyphicon-map-marker"></span></a>
  </li>
  <li>
    <a href="" hover="Hours" class="hover-up" ng-click="view = 'hours'"><span class="glyphicon glyphicon-time"></span></a>
  </li>
  <li>
    <a href="" hover="Our Story" class="hover-up" ng-click="view = 'story'"><span class="glyphicon glyphicon-info-sign"></span></a>
  </li>
  <li>
    <a href="" hover="About Us" class="hover-up" ng-click="view = 'about'"><span class="fa fa-user-md"></span></a>
  </li>
  <li>
    <a href="" hover="Contact Us" class="hover-up" ng-click="view = 'contact'"><span class="glyphicon glyphicon-earphone"></span></a>
  </li>
</ul>
