<div class="text-fade">
  <div class="row">
    <div class="col-xs-12">
      <h4>Adjusting Methods</h4>
      <p>Gentle chiropractic treatment designed to accommodate everyone's health status including those with prior disabilities, past surgeries, and adjusting preferences.</p>
    </div>
  </div>
  <div class="row mtl">
    <div class="col-xs-12">
      <h4>Bio Cranial Adjusting</h4>
      <p>Cranial adjusting is often overlooked in adjusting needs, and since 80% of your nervous system resides in the skull, it is essential. Personally taught by Robert Boyd, D.O., the originator of <a href="http://www.biocranial.com/nonhealthcare/about.htm" target="_blank">the Biocranial technique</a>.</p>
    </div>
  </div>
  <div class="row mtl">
    <div class="col-xs-3">
      <img src="/assets/img/auriculotherapy.jpg" style="width: 100%">
    </div>
    <div class="col-xs-9">
      <h4 class="mtn">Auriculotherapy</h4>
      <p><a href="http://www.auriculotherapy.com/" target="_blank">Auriculo-therapy</a> (auriculo refers to the ear) was originally practiced by Dr. Nogier, a French M.D. and was based on the Chinese method of acupuncture. Dr. Nogier pioneered the use of a small electrical current placed on key ear points as an effective means of helping acute and chronic pain, as well as addiction and other health conditions.</p>
    </div>
  </div>
  <div class="row mtl">
    <div class="col-xs-12">
      <h4>Nutritional Counseling</h4>
      <p>Nutritional counseling can be done as a stand alone treatment or done in conjunction with the above services. It is not unusual to utilize several strategies in order to accomplish a patient's health care needs. I have often worked with other chiropractors who maintain their technique and expertise while allowing me to utilize my internal disorders training for the common good of the patient.</p>
    </div>
  </div>
  <div class="row mtl">
    <div class="col-xs-8">  
      <h4 class="mtn">Products</h4>
      <p>This office primarily uses <a href="https://www.standardprocess.com" target="_blank">Standard Process</a> and <a href="http://www.mediherb.com" target="_blank">Mediherb</a> Nutritional products which are unparallelled in the health care field. Unless you are using high quality phytonutrient products, you will not achieve the desired results you are looking for.</p>
    </div>
    <div class="col-xs-4">
      <img src="/assets/img/products.jpg" style="width: 100%">
    </div>
  </div>
  <div class="row mtl">
    <div class="col-xs-12">
      <h4>Treatment of Children and Adolescent</h4>
      <p>Treatment of children is safe. While children do not often have back pain or other common adult conditions, they can have ailments including bed wetting, headaches, or trouble walking. Treatment of babies and adolescents can be accomplished by bio cranial technique, which is safe and effective, as well as other treatments. If you have an area of concern for your child that you want to speak to Dr. Gilbert about, please contact us.</p>
    </div>
  </div>
</div>
