<div class="ng-cloak mtj mhl">
  <div ng-show="view === 'home'">
    Home
  </div>
  <div ng-show="view === 'info'">
    {{> info }}
  </div>
  <div ng-show="view === 'about'">
    {{> about }}
  </div>
  <div ng-show="view === 'products'">
    Products & Services
  </div>
</div>
