<div class="ng-cloak mtj mhl">
  <div ng-show="view === 'home'">
    {{> home }}
  </div>
  <div ng-show="view === 'info'">
    {{> info }}
  </div>
  <div ng-show="view === 'about'">
    {{> about }}
  </div>
  <div ng-show="view === 'products'">
    {{> products }}
  </div>
</div>
