<div class="ng-cloak">
  <div ng-show="view === 'home'">
    Home
  </div>
  <div ng-show="view === 'directions'">
    Directions
  </div>
  <div ng-show="view === 'hours'">
    {{> hours }}
  </div>
  <div ng-show="view === 'story'">
    {{> story }}
  </div>
  <div ng-show="view === 'about'">
    About
  </div>
  <div ng-show="view === 'contact'">
    Contact
  </div>
</div>
