<div id="main" class="full" ng-controller="HomeController" ng-init="view = 'home'">
  <div class="hidden-xs hidden-sm full">
    {{> home }}
  </div>
  <div class="hidden-md hidden-lg">
    {{> home-mobile }}
  </div>
</div>
